html,
body {
    margin: 0;
}
/* ナビゲーションバー */
nav {
    text-align: center;
    width: 100vw;
}

nav ul {
    margin: 0 ;
    padding: 0 ;
    font-size: 0px;
}
/* 各要素 */
nav ul .nav{
    list-style: none;
    display: inline-block;
    width: 20%;
    height: 40px;
    background-color: #000;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    margin: 0;
    padding: 8px 0 1px;
}
nav ul a:hover{
    background-color: #333;
}
.nav_cnt{
    height: 36px !important;
    border-bottom: 4px solid #FFFFFF!important;
}
nav ul li img {
  margin       : auto;
  width        : 150px;
  height       : 150px;
  background   : #99ccff;
}
/* ヘッダの画像 */
.mainBar{
    width: 100vw;
    background: #29afaf;
    margin: 0;
    padding: 0;
}
.mainBar img{
    width: 45vw;
    margin: 0;
    padding: 2vw;
}
.bottomBar{
    width: 100vw;
    height:1vw;
    background: #c1ab05;
    margin: 0;
}
/* 3要素の上のテキスト(Contents) */
.contents{
    text-align: center;
    text-decoration: none;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    font-size: 240%;
    margin: 4vw 0 2vw 0;
    padding: 0;
}
/* 3要素全体 */
div{
    text-align: center;
    margin:0vw 0vw 0vw 0vw;
}
/* 3要素それぞれ */
.elements{
    text-align: center;
    width: 22vw;
    display: inline-block;
    border-top:solid 10px #c2e08f;
    padding: 1vw;
    margin: 0.8vw 0.8vw 0 0.8vw;
    border: solid 2px #000000;
    max-width: 7cm;
    min-width: 190px;
    border-radius: 2vw;
}
.elements a{
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family:'Zen Kaku Gothic New',sans-serif;
}
.elements a h1{
    font-size: 180%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.elements a h1 div{
    margin: 0 0.5vw 0 0;
    width: 1.4vw;
    height: 3.2vw;
    background: #99ccff;
    display:inline-block;
    position: relative;
    top: 0.7vw;
    min-width: 8.8px;
    min-height: 27px;
}
.elements a h1 .soft{
    background: #009cca;
}
.elements a h1 .prog{
    background: #29af7f;
}
.elements a h1 .others{
    background: #f9967f;
}
/* アイコン画像 */
.elements a img{
    margin: 0.8vw;
    width: 20vw;
    max-width: 6.36cm;
}
/* 各要素のちっちゃな説明文 */
.elements a p{
    font-weight: normal;
    list-style: none;
    font-size: 80%;
    margin: 5px;
    padding: 0;
}
h1 a{
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
}
.contentsSpace{
  height: 30px;
}
/* プロフィール */
iframe{
  border: none;
  width: 100%;
}
.prof {
  border: none;
  width: 100%;
  height: 350px;
}
/* フッター */
.foot {
  border: none;
  width: 100%;
  height: 75px;
}


.profDiv{
    display: flex;
    justify-content: space-around;
}
.info table tbody tr{
    text-align: left;
}
.info a {
    text-align: left;
}
/* アイコン */
.prof{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 0;
}
/* 箇条書き */
div .info{
    /* 縦に積む */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
}
div div a img{
    width: 16px;
    margin: 0 3px 0 0;
    padding: 0;
}

footer{
    background: #29afaf;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
footer{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 5px;
}
