
div{
    display: flex;
    justify-content: center;
}
/* アイコン */
.prof{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 0;
}
/* 箇条書き */
div .info{
    /* 縦に積む */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
}
div div a img{
    width: 16px;
    margin: 0 3px 0 0;
    padding: 0;
}
